
@{
    ViewData["Title"] = "AnotherTask";
    Layout = null;
}

<h6>Написать помощник тэга(при необходимости несколько)...</h6>
<table alternate-classes="text1;text2">
    <tr><td>name</td><td>Dragon Knight</td></tr>
    <tr><td>level</td><td>1</td></tr>
    <tr><td>strength</td><td>19</td></tr>
    <tr><td>agillity</td><td>19</td></tr>
    <tr><td>intelligence</td><td>18</td></tr>
</table>

