
@{
    ViewData["Title"] = "Index";
}

<h3>Tag helpers page</h3>
<div>
    <h4>Timer with seconds</h4>
    <timer seconds-included="true" />
</div>
<div>
    <h4>Timer without seconds</h4>
    <timer/>
</div>
